/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea, input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .comments {
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse; /* Menampilkan komentar terbaru di bagian atas */
  }
  
  .comment {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .comment:last-child {
    margin-bottom: 0; /* Menghilangkan margin bawah dari komentar terakhir */
  }
  
  .comment strong {
    font-weight: bold;
  }
  
  .comment p {
    margin: 5px 0;
  }
  
  .comment-image {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .image-container {
    text-align: center;
  }
  
  .comment-image.hide {
    opacity: 0;
  }
  